.pageNotFound {
  height: 700px;
  padding-top: 200px;
  .ContentWrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    color: #173d77;
    display: flex;
    flex-direction: column;
    .bigText {
      font-size: 150px;
      font-weight: 700;
    }
    .smallText {
      font-size: 44px;
    }
  }
}
